{% extends 'courseinfo/base.html' %}

{% block title %}
    Student - {{ Student }}
{% endblock %}

{% block content %}
    <h2>{{ student }}</h2>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ student.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ student.last_name }}</td>
            </tr>
            {% if student.disambiguator %}
                <tr>
                    <th>Disambiguator:</th>
                    <td>{{ student.disambiguator }}</td>
                </tr>
            {% endif %}
            <tr>
                    <th>Student ID:</th>
                    <td>{{ id }}</td>
                </tr>
        </table>
    </section>

    <section>
        <h3>All Students:</h3>
        <ul>
            {% for student in student_list %}
                <li>
                    <a href="{{ student.get_absolute_url }}">{{ student }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no students.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
